#columnbox {
    background-color: #791214;
    width: 212px;
    height: 244px;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
}

.column {
    background-color: #791214;
    float: left;
    width: 65px;
    height: 240px;

    border-style: solid;
    border-width: 2px;
    border-color: #791214;
    padding: 0px;
}

.row1, .row3 {
    background-color: #FAE596;
    float: left;
    width: 65px;
    height: 80px;
}

.row2 {
    background-color: #FAE596;
    float: left;
    width: 70px;
    height: 80px;
}

.text {
    font-size: 24px;
    font-weight: bold;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    color: #791214;
}

.cover {
    background-color: #FAE596;
    position: absolute;
    transform: translate(-50%, 0%);
    left: 50%;
    width: 214px;
    height: 80px;
}

#startbutton {
    background-color: transparent;
    border-radius: 30px;
    width: 60px;
    height: 60px;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 34%;
    left: 83%;
}

#startbutton:hover {
    cursor: pointer;
}

@keyframes numbdown {
    0% {
        top: 0px;
    }
    50% {
        top: 100px;
    }
    100% {
        top: 0px;
    }
}
