#columnbox {
    background-color: #FAE596;
    width: 208px;
    height: 244px;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    overflow: hidden;
}

.column {
    background-color: #FAE596;
    float: left;
    width: 65px;
    height: 400px;
    position: relative;

    border-style: solid;
    border-width: 2px;
    border-color: #791214;
    padding: 0px;
    border-top-width: 0px;
}

.row1, .row3 {
    background-color: #FAE596;
    float: left;
    width: 65px;
    height: 80px;

    animation: wheel 0.5s linear;
}

.row2 {
    background-color: #FAE596;
    float: left;
    width: 70px;
    height: 80px;

    animation: wheel 0.5s linear;
}

.text {
    font-size: 24px;
    font-weight: bold;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    color: #791214;
}

.cover {
    background-color: #FAE596;
    position: absolute;
    transform: translate(-50%, -1%);
    left: 50%;
    width: 210px;
    height: 80px;
}

#startbutton {
    background-color: transparent;
    border-radius: 30px;
    width: 60px;
    height: 60px;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 34%;
    left: 83%;
}

#startbutton:hover {
    cursor: pointer;
}

#notibox {
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 25%;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: #791214;
}

#gift {
    background-color:#12782E;
    width: 100px;
    height: 40px;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 85.3%;

    border-radius: 5px;
    animation: giftbox 2s ease-in;
}

#giftbutton:hover {
    cursor: pointer;
}

.tile {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

#giftcontentbox {
    width: 100vw;
    height: 100vh;
    background: transparent;
    position: absolute;
    left: 0%;
    top: 0%;
}

#giftboxbackground:hover {
    cursor: pointer;
}

#giftcontent {
    width: 800px;
    height: 500px;
    background-color: #5D84A6;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;

    border-radius: 10px;

    animation: giftcontent 0.2s linear;
    animation-fill-mode: forwards;
}

@keyframes wheel {
    0% {
        height: 0;
    }
    100% {
        height: 80px;
    }
}

@keyframes numbdown {
    0% {
        top: 0px;
    }
    50% {
        top: 100px;
    }
    100% {
        top: 0px;
    }
}

@keyframes giftbox {
    0% {
        top: 75%;
    }
    40% {
        top: 85.3%;
    }
    60% {
        top: 82%;
    }
    80% {
        top: 85.3%;
    }
    90% {
        top: 84%;
    }
    100% {
        top: 85.3%;
    }
}

@keyframes giftcontent {
    0% {
        opacity: 0;
    }    
    100% {
        opacity: 1.0;
    }
}

.firework {
    position: absolute;
}

.explosion {
    position: absolute;
    width: 4px;
    height: 80px;
    transform-origin: 50% -20%;
    overflow: hidden;
}
.explosion:nth-child(1) {
    transform: rotate(0deg) translate(0px);
}
.explosion:nth-child(2) {
    transform: rotate(30deg) translate(0px);
}
.explosion:nth-child(3) {
    transform: rotate(60deg) translate(0px);
}
.explosion:nth-child(4) {
    transform: rotate(90deg) translate(0px);
}
.explosion:nth-child(5) {
    transform: rotate(120deg) translate(0px);
}
.explosion:nth-child(6) {
    transform: rotate(150deg) translate(-0px);
}
.explosion:nth-child(7) {
    transform: rotate(180deg) translate(-0px);
}
.explosion:nth-child(8) {
    transform: rotate(210deg) translate(-0px);
}
.explosion:nth-child(9) {
    transform: rotate(240deg) translate(0px);
}
.explosion:nth-child(10) {
    transform: rotate(270deg) translate(-0px);
}
.explosion:nth-child(11) {
    transform: rotate(300deg) translate(-0px);
}
.explosion:nth-child(12) {
    transform: rotate(330deg) translate(-0px);
}

.explosion::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
    height: 40px;
    background-color: green;
    animation: explosion 1s ease infinite;
}
@keyframes explosion {
    0% {
        top: -50%;
    }
    100% {
        top: 100%;
    }
}

#firework1 .explosion::before {
    animation: explosion 1s ease infinite;
}
#firework2 .explosion::before {
    animation: explosion 1s .6s ease infinite;
}
#firework3 .explosion::before {
    animation: explosion 1s .4s ease infinite;
}
#firework4 .explosion::before {
    animation: explosion 1s .5s ease infinite;
}
#firework5 .explosion::before {
    animation: explosion 1s .2s ease infinite;
}
#firework6 .explosion::before {
    animation: explosion 1s .3s ease infinite;
}

.fireworkcolor1::before {
    background-color: #6B5F8A;
}
.fireworkcolor2::before {
    background-color: #8A435B;
}
.fireworkcolor3::before {
    background-color: #6750A3;
}
.fireworkcolor4::before {
    background-color: #D67495;
}
.fireworkcolor5::before {
    background-color: #6C8A43;
}
.fireworkcolor6::before {
    background-color: #D6A374;
}
